# Database
DATABASE_URL=
DATABASE_URL_SYNC=

# JWT
JWT_SECRET=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# AI - Gemini API
GEMINI_API_KEY=

# Server
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
FRONTEND_URL=

# Environment
ENVIRONMENT=
